

body{
  /* border-style:solid; */
  
  font-family: arial;
  align-items: center;
  font-style: oblique;
  background-color:hsl(0, 35%, 9%);
  color: white;

}

/* ------------------------------------------------------------------navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #363a3a;
  color: rgb(251, 245, 245);
  padding: 6px 20px;
}
.menu-btn {
  background-color: #444;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}
.slide-menu {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: #111;
  color: white;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

.slide-menu a {
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
}

.slide-menu a:hover {
  background-color: #575757;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

main {
  padding: 20px;
}

.menu-open .slide-menu {
  left: 0;
}

.menu-open .overlay {
  display: block;
}
#tag{
  background-image: url('brand_tag.png');
  background-size: cover; /* Adjust based on your needs */
  background-position: center; 
  width: 250px; /* Set width as needed */
  height: 200px; /* Set height as needed */
  position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
}

.brandImage {
  width: 150px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}
/* -------------------------------------------------------------navbar */

#heading{
  text-align: center;
  font-size: 5vmin;
  animation-duration: 3s;
  animation-name:slidein ;
}

#input-heading{
  font-style: oblique;
  /* Adds space to the left */
  word-spacing: 18vmin; /* Adjust the value as needed */
  
} 
#borrowItems{
  color: white;
}


#add-btn{
  padding: 8px 30px;
  font-size: 18px;
  border: none;
  border-radius: 100vmin;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  margin-left: 30px; 
  }
  .item-container {
    display: flex;
    gap: 150px; /* Adds space between the items */
    align-items: center; /* Vertically centers the content */
  }
  #deleteButton{
    padding: 8px 20px;
    font-size: 18px;
    border: none;
    border-radius: 100vmin;
    background-color: #eb0202;
    color: white;
    cursor: pointer;
    margin-left: -90px; 
    margin-bottom: 10px; 

  }
  #input-text{
    margin-bottom: 20px;
  }

#add-btn:hover {
  background-color: #45a049;
}

@keyframes slidein {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }
  to {
    translate: 0 0;
    scale: 100% 1;
  }
}
